.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#BrokenBlade {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
}
#Yike {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
}
#Caps {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
}
#Hans-Sama {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
}
#Mikyx {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}


