*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 45px 20px 0;
}
#g2imagen {
    height: 120px;
    margin: 0;
    line-height: 0;
}
.header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 37%, rgba(224,32,33,1) 100%);
    height: 12%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 20px;
}
.nav-link{
    color: #ffffff;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 18px;
    line-height: 80px;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-menu-link:hover{
    background-color: #e02021;
    transition: 0.7s;
}