
#Lenovo {
    width: 500px;
    margin: 10px;
    border: 0px;
}
#Spotify {
    width: 500px;
    margin: 10px;
    border: 0px;
}
#Logitec{
    width: 500px;
    margin: 10px;
    border: 0px;
}
#Mastercard{
    width: 500px;
    margin: 10px;
    border: 0px;
}
#RedBull{
    width: 500px;
    margin: 10px;
    border: 0px;
}

