<!DOCTYPE html>
<html>
    <head th:fragment="head">
        <title>G2 Esports</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container">
                    <a th:href="@{/}" id="g2imagentotal" class="navbar-brand mr-auto">
                        <div class="d-flex">
                            <img id="g2imagen2" src="/imagenes/G2_Esportslogo_square.png" alt="G2 Esports" width="100">
                        </div>
                    </a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li class="nav-item px-2">
                                <a th:href="@{/news/listado}" class="nav-menu-link nav-link"
                                   th:text="#{menu.novedades}">Novedades</a>
                            </li>
                            <li class="nav-item px-2">
                                <a th:href="@{/categoria/listado}" class="nav-menu-link nav-link"
                                   th:text="#{menu.partners}">Partners</a>
                            </li>
                            <li class="nav-item px-2">
                                <a th:href="@{/articulo/listado}" class="nav-menu-link nav-link"
                                   th:text="#{menu.equipos}">Equipos</a>
                            </li>
                            <li class="nav-item px-2">
                                <a th:href="@{/bootcamp}" class="nav-menu-link nav-link"
                                   th:text="#{menu.bootcamp}">Bootcamp</a>
                            </li>
                            <li class="nav-item px-2">
                                <a th:href="@{/articulo/listado}" class="nav-menu-link nav-link"
                                   th:text="#{menu.sobre_nosotros}">About Us</a>
                            </li>
                            <li class="nav-item px-2">
                                <a th:href="@{/articulo/listado}" class="nav-menu-link nav-link" >
                                    <span class="fa fa-shopping-cart"></span> 
                                </a>
                            </li>
                        </ul>
                        <!--                        <ul sec:authorize="isAuthenticated()" class="navbar-nav m1-auto">
                                                    <li class="nav-item mr-3">
                                                        <a href="#" class="nav-link">
                                                            <i class="fas fa-user"></i>
                                                            <span th:text="#{plantilla.bienvenido}">Bienvenido:</span>
                                                            <span sec:authentication="name">Usuario</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item mr-3">
                                                        <a href="#" class="nav-link">
                                                            <span th:text="#{plantilla.troles}">Roles:</span>
                                                            <span sec:authentication="principal.authorities">XXX</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <form method="POST" th:action="@{/logout}">
                                                            <a href="#" onclick="this.parentNode.submit();" class="nav-link">
                                                                <i class="fas fa-user-times"></i>[[#{plantilla.logout}]]
                                                            </a>
                                                        </form>
                                                    </li>
                                                </ul>-->


                    </div>
                </div>
            </nav>
            <section id="main-header" class="py-1 bg-danger text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                [[#{pagina.titulo}]]
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <footer th:fragment="footer" class="position-fixed bottom-0 start-0 end-0 bg-dark text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        &COPY; [[#{pagina.derechos}]]
                        <a th:href="@{/(lang=es)}">ES</a>
                        <a th:href="@{/(lang=en)}">EN</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>