<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/plantilla :: head">
        <title th:text="#{menu.equipos}">G2Equipos</title>
        <meta charset="UTF-8">
        <meta name="description" content="Tarea 2" />
        <meta name="keywords" content="html5, css, web, fidelitas" />
        <link href="estilosG2/estiloG2.css" rel="stylesheet" type="text/css"/>
        <link href="estilosG2/menu.css" rel="stylesheet" type="text/css"/>
        <style>
            #imagenesjuegos {
                width: 20%;
                margin: 25px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <div id="titulojuegos">
            <h1> Estos son los juegos en donde participa G2 </h1> 
            <a href="jugadores.html"><img id="imagenesjuegos" src="imagenes/juegos/League-of-Legends-Logo.png" alt=""/></a>
            <a href="jugadores.html"><img id="imagenesjuegos" src="imagenes/juegos/Logo-CSGO.png" alt=""/></a>
            <a href="jugadores.html"><img id="imagenesjuegos" src="imagenes/juegos/apex-logo-F74B0C9FCD-seeklogo.com.png" alt=""/><br/></a>
            <a href="jugadores.html"><img id="imagenesjuegos" src="imagenes/juegos/2560px-Valorant_logo_-_pink_color_version.svg.png" alt=""/></a>
            <a href="jugadores.html"><img id="imagenesjuegos" src="imagenes/juegos/26eddab3d5cf8cd66affd349cfc0945f.jpg" alt=""/></a>
            <a href="jugadores.html"><img id="imagenesjuegos" src="imagenes/juegos/2560px-Rocket_League_logo.svg.png" alt=""/></a>
        </div>
    </body>
    <footer th:replace="layout/plantilla :: footer"/>
</html>
