<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" >
     <head th:replace="layout/plantilla :: head">
        <title>G2Esports</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <section id="contenido">
            <div style="text-align:center;" >
                <iframe  width="560" height="315" src="https://www.youtube.com/embed/nEmVU3l2Re8?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <br/> 
            <br/> 
            <div style="text-align: center;">
                <p><strong>G2 Esports</strong> es un equipo profesional de deportes electrónicos con sede en Europa. Fundado en 2014, 
                    G2 se ha destacado en una amplia gama de juegos, incluyendo League of Legends, Counter-Strike: Global Offensive, Rainbow Six Siege y muchos más. 
                    Con una amplia base de seguidores y un equipo de jugadores talentosos, G2 se ha establecido como una de las organizaciones líderes en el mundo de
                    los deportes electrónicos y continúa impulsando el crecimiento y la popularidad de este deporte.</p>
                <br/>
                <p>G2 ha ganado numerosos títulos y ha logrado un alto rendimiento en competiciones importantes a nivel mundial. Además, la organización también se ha 
                    expandido más allá de los deportes electrónicos, brindando apoyo a streamers y contenido creadores en línea. Con una presencia sólida en las redes sociales y 
                    una comunidad enérgica de fanáticos, G2 sigue siendo una fuerza importante en el creciente mundo de los deportes electrónicos. En resumen, 
                    G2 Esports es una organización líder en el mundo de los deportes electrónicos con una amplia base de seguidores y una reputación sólida.</p>
                <br/> 
                <br/> 
            </div>
            <section id="imagenes">
                <img id="g2winner" src="imagenes/g2 winner.jpg" alt=""/>
                <img id="g2lenovo" src="imagenes/g2lenovo.jpeg" alt=""/>
                <img id="g22020" src="imagenes/g2-esports-2020.jpeg" alt=""/>
                <img id="g2valorant" src="imagenes/g2valorant.png" alt=""/>
            </section>
        </section>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
