<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Nuestos Partners G2</title>
        <meta charset="UTF-8">
        <meta name="description" content="Tarea 2" />
        <meta name="keywords" content="html5, css, web, fidelitas" />
        <link href="estilosG2/estiloG2.css" rel="stylesheet" type="text/css"/>
        <link href="estilosG2/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" id="g2imagentotal" class="logo nav-link">
                    <img id="g2imagen" src="imagenes/g2.png" alt="G2 Esports"/>
                </a>
                #Prueba de actualizacion
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="noticias.html">Novedades</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="juegos.html">Partners</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="jugadores.html">Equipos</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="bootcamp.html">Bootcamp</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="shop.html">Tienda</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="index.html">About Us</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="usuario.html">Usuario</a></li>
                </ul>
            </nav>
        </header>
        <section id="partners">
            <br/> 
            <br/> 
            <div style="text-align: center; font-size: 30px">
                <p><center><strong>Patrocinadores G2</strong></center></p>
                <br/> 
                <br/> 
            </div>
            <section id="imagenes">
                <img id="g2winner" src="imagenes/redbull.jpg" alt=""/>
                <img id="g2lenovo" src="imagenes/bmv.jpeg" alt=""/>
                <img id="g22020" src="imagenes/spotify.jpeg" alt=""/>
                <img id="g2valorant" src="imagenes/logitech.png" alt=""/>                
                <img id="g2valorant" src="imagenes/legion.png" alt=""/>                
                <img id="g2valorant" src="imagenes/mastercard.png" alt=""/>                
            </section>
        </section>
        <footer id="piepaginagG2">
            <br/>
            <p>© 2023, www.g2.com. Todos los derechos reservados.</p>
        </footer>
    </body>
</html>