<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/plantilla :: head">
        <title th:text="#{menu.partners}">G2Partners</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div id="partners">
            <h1> Estos son los partners de G2 </h1> 
                <a href="https://www.logitechg.com"><img id="Logitec" src="../static/imagenes/logitech.png" alt=""/>
                <a href="https://www.lenovo.com"><img id="Lenovo" src="../static/imagenes/Lenovo_Global_Corporate_Logo.png" alt=""/>
                <a href="https://www.redbull.com"><img id="RedBull" src="../static/imagenes/redbull.png" alt=""/>
                <a href="https://www.mastercard.com"><img id="Mastercard" src="../static/imagenes/mastercard.png" alt=""/>
                <a href="https://www.spotify.com"><img id="Spotify" src="../static/imagenes/spotify.png" alt=""/>
        </div>
    </body>
    <footer th:replace="layout/plantilla :: footer"/>
</html>